<!-- Created by Hailey Palega for COMM150 -->

a:link{
	color:purple;
	}
	
a:visited{
	color:hotpink;
	}
	
a:hover {
	color:lightblue;
	}
	
.content {
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  border: 3px solid black;
  border-radius: 25px;
  padding: 15px;
}

.footer {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 13px;
	text-align: center;
	padding-top: 25px;

}


